.Login{
    height: 70%;
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.Button{
    
text-align: right;
padding-right: 10px;
padding-top: 10px;
padding: 10px;

    
}

.mb-3{
   padding: 10px;
}
